---
name: checkmake
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  checkmake:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: Uno-Takashi/checkmake-action@main
