name: latexmk
on:
  push:
  pull_request:
concurrency:
  group: latexmk-${{ github.ref }}
  cancel-in-progress: true
jobs:
  latexmk:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: yegor256/latexmk-action@0.11.1
        with:
          opts: -pdf
          path: paper
          depends: DEPENDS.txt
